.footer {
    width: 100%;
    padding: var(--padding-base);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--border-color);
    background: var(--bg-tertiary);
}

.footerInfo {
    display: flex;
    gap: 4rem;
    width: 100%;
    justify-content: center;
}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: var(--text-secondary);
}

.contactLinks a {
    color: var(--text-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}